.container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.link {
    width: 100%;
    background-color: #F4EFE6;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 20px;
    text-decoration: none;
    color: #2D6A4F;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}